* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #34495e;
    color: white;
}

#main {
    margin: 20px;
}

.crypto {
    font-size: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #2c3e50;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.crypto-img {
    vertical-align: middle;
    margin-right: 5px;
}

.crypto-name {
    vertical-align: middle;
}

.crypto-price {
    text-align: right;
}

.crypto-change {
    text-align: right;
    padding-right: 40px;
}

.btn {
    display: block;
    padding: 10px;
    color: white;
    background-color: #e67e22;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #d35400;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.green {
    color: #2ecc71;
}

.red {
    color: #e74c3c;
}